{% extends "Application/index.html"%}

{% block content%}
{% load static %}
 <!-- about section -->
 <section class="about_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-6">
          <div class="detail-box">
            <h2>About us</h2>
            <p>
              We equip students with the knowledge and skills necessary to excel academically, fostering a culture of learning and growth.
            </p>
            <h2>Why Choose Us?</h2>
            <p>
              1. Experienced Tutors: Our tutors are highly qualified professionals dedicated to your academic success.<br>
              2. Tailored Support: We understand that every student has unique needs, and we tailor our services accordingly.<br>
              3. Affordable Rates: Quality academic assistance at competitive prices.<br>
              4. Free from Plagiarism: Every essay written by GeorgiaEssays is extensively checked for plagiarism using top-notch software to ensure that your essay is completely unique.
            </p>
            <h2>Opening Hours</h2>
            <p>
              Monday: 09:00 – 17:00 (UTC)<br>
              Tuesday: 09:00 – 17:00 (UTC)<br>
              Wednesday: 09:00 – 17:00 (UTC)<br>
              Thursday: 09:00 – 17:00 (UTC)<br>
              Friday: 09:00 – 17:00 (UTC)<br>
              Saturday: 09:00 – 17:00 (UTC)<br>
              Sunday: Our phone lines are closed today, but you can still place your order online.<br>
              <br>
              PLEASE NOTE:<br>
              All calls are recorded for training and quality assurance purposes.
            </p>
            <a href="contact.html">Place Order</a>
          </div>
        </div>
        <div class="col-lg-7 col-md-6">
          <div class="img-box">
            <img src="{% static 'images/laptop.jpg' %}" alt="Laptop Image">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end about section -->


  </section>
  <!-- end info section -->
{% endblock content %}