{% extends "Application/index.html" %}
{% load static %}

{% block content %}
  <h1>Pricing</h1>
  <div class="row">
    {% for service in services %}
    <div class="col-sm-6 col-md-4 mb-4">
      <div class="card" style="width: 18rem;">
        <img src="{% static 'images/default.png' %}" class="card-img-top" alt="{{ service.name }}">
        <div class="card-body">
          <h5 class="card-title">{{ service.name }}</h5>
          
            <strong>${{ service.price_per_word }}</strong> per word
          </p>
          <ul>
            <li>Academic Level: {{ service.academic_levels }}</li>
            <li>Revisions: {{ service.revisions }}</li>
            <li>Plagiarism-Free: {{ service.plagiarism_free }}</li>
          </ul>
          <!-- Add to Cart button -->
          <a href="{% url 'add_to_cart' service.id %}" class="btn btn-success">Add to Cart</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock content %}
